@charset "utf-8";


.kv{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
p{
  margin:0 auto;
  max-width:80%;
}
hr{
  margin:0;
  width: 900px;
}

.kv .main-copy{
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  letter-spacing: .2em;
}

.kv .sub-copy{
  color: #fff;
  font-size: 20px;
  text-align: center;
}

/* video */
.video{
  width: 100%;
  height: 100vh;
  background: url(../img/kv-alternative.jpg) no-repeat center/cover;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.video::after{
  content: '';
  width: 100%;
  height: 100%;
  background-color: #10394b;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .3;
}

.video video{
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media screen and (min-width: 768px) {

  .kv{
    min-width: 960px;
  }

  .kv .main-copy{
    font-size: 80px;
  }

  .kv .sub-copy{
    font-size: 30px;
  }


  .video{
    min-width: 960px;
  }
}



.header_wrapper{
  max-width: 1320px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_wrapper h1{
  width: auto;
  display: flex;
  align-items: center;
}
.header_wrapper h1 a{
  display: block;
  color: #333;
  text-decoration: none;
  font-size: 34px;
}
.header_wrapper h1 span{
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  margin-left: 10px;
}
/* ナビゲーション */
.gnav{
  width: 100%;
}
.gnav_wrapper{
  max-width: 980px;
  margin: auto;
  display: flex;
}
.gnav_wrapper li{
  border-left: #888 1px solid;
  text-align: center;
  width: calc(100%/4);
  transition: all  0.8s ease;
}
.gnav_wrapper li:last-child{
  border-right: #888 1px solid;
}
.gnav_wrapper li a:hover{
  color: blue;
}
.gnav_wrapper li a{
  display: block;
  font-weight:bold;
  padding: 1.3em 0;
  color: #333;
  text-decoration: none;
  transition: .6s;
}

li {
list-style: none;  
}

ul {
  padding-left: 0;
}

.box{
  background:gold;
  padding:10em;
  margin:100px;
  border:black 1px solid;
}

article {
  display: flex;
  margin-top:256px;
  gap: 64px;
}

article:nth-child(even){
  flex-direction: row-reverse;
}

.image50{
  width:40%;
  height:40px;
}


.text {
  flex: 1;
  text-align:center;
  margin-right:32px;
}

footer {
  width: 100%;
  height: 120px; 
  text-align: center;
  padding: 50px 0;
  background-color: #cab64a;
  margin-top:160px;
}
.footer-text {
  color: #fff;
}


h1 {
 width:100%;
 text-align: center;
 font-size:64px;
}



}

img {
  margin-bottom:64px;
}
